.InputValue{
    width: 100%;
    height: 100%;
    margin: 0 !important;
}
.InputCell{
    margin: 0 !important;
    padding: 2px !important;
}
.InputTable{
    width: 40vw !important;
}
.state{
    width: 100% !important;
}
.RowButton{
    display:flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.ColumnButton{
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.ui.input>input {
    max-width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

table.ui.celled.definition.compact.table.InputTable {
    width: 50vw !important;
}
table.ui.celled.definition.compact.table.InputTable {
    text-align: center;
}
.ui.horizontal.divider {
    margin-top:2em;
    width: 90vw;
}

.ButtonsAndAll {
    display: flex;
    align-items: center;
    flex-flow: column;
}


.Graph {
    display: flex;
    flex-basis: 50% !important;
    align-items: center;
    justify-content: center;
}
.clean >input, .HeaderClean {
    /* border: none !important;*/
    background: none !important; 
    width: 2em !important;
}

.cleanbg{
    background: none !important; 
}

.Tables{
    display: flex;
    flex-flow: column;
    /* justify-content: center; */
    align-items: center ;
    flex-basis: 50%;
}

.Sidebaaar{
    width: 90vw !important;
    min-height: 50% !important;
}

div#root {
    height: calc(100vh - 3.9em);
}
.Tables {
    height: 98%;
}
.Body {
    height: 100%;
}
.ui.segment.pushable.Sidebaaar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui.vertical.segment.ui.overlay.left.thick.visible.sidebar, .ui.vertical.segment.ui.overlay.left.thick.sidebar {
    margin: 0 !important;
    padding: 0 !important;
    width: 50%;
    background-color: white;
}

.ui.vertical.segment.ui.push.left.thick.visible.sidebar, .ui.vertical.segment.ui.push.left.thick.sidebar {
    margin: 0 !important;
    padding: 0 !important;
    width: 50%;
    background-color: white;
}

button.ui.circular.icon.button.SidebarHandler {
    z-index: 1000;
    position: absolute;
    bottom: 1em;
    left: 1em;
}
.flexedFlow{
    text-align: center !important;
}

.sidebarWithExplaination{
    display: flex;
    justify-content: space-around;
    width: 90vw;
    
}
.Explanation{
    margin-right: 1em !important;
}

.Tooltips_button{
    margin-bottom: 1em !important;
    position: absolute;
    top: .5em;
    right: 13em;

}
button.ui.circular.primary.button.Tooltips_button {
    padding-bottom: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 1.5em;
    right: 1em;
    position: absolute;
    z-index: 100;
}

.CenteredContent{
    display: flex;
    align-items: center;
    background: none;
}

.InputTableSegment{
    width: 100%;
}


.pusher.InputTableSegment {
    overflow-y: auto;
}

.sidebarWithExplaination{
    border-radius: 10px;
}
.ui.vertical.segment.ui.overlay.left.thick.visible.sidebar.CenteredContent {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 100%);
}

.GithuButton{
    position: absolute;
    bottom: 1em;
    z-index: 100;
    right: 1em;
}
i.github.large.icon {
    margin: 0 auto !important;
}